<footer class="site-footer">
    <div class="container-wide foot-wrap">
      <img class="foot-logo" src="{{ site.baseurl }}/assets/logocolor.png" alt="doop logo">
  
      <ul class="foot-locations" aria-label="Locations">
        <li><img class="flag" src="{{ site.baseurl }}/assets/australia.png" alt="Australia flag"><span>HQ North Sydney, NSW, Australia.</span></li>
        <li><img class="flag" src="{{ site.baseurl }}/assets/germany.png" alt="Germany flag"><span>Berlin, Germany.</span></li>
        <li><img class="flag" src="{{ site.baseurl }}/assets/argentina.png" alt="Argentina flag"><span>Buenos Aires, Argentina.</span></li>
        <li class="foot-contact"><a href="#contact">Get in touch</a></li>
      </ul>
  
      <p class="foot-copy">Copyright © 2025</p>
    </div>
  </footer>